@model IEnumerable<Tiendav3.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Producto</h1>
<div class="search-container">
    <form method="get" asp-action="Index">
        <input type="text" name="searchProducto" placeholder="Buscar por Codigo" />
        <input type="submit" value="Buscar" />
    </form>
</div>
<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Codigo">Edit</a> |

                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Codigo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
