@model IEnumerable<Tiendav3.Models.Factura>

@{
    ViewData["Title"] = "Index";
}

<h1>Factura</h1>
<div class="search-container">
    <form method="get" asp-action="Index">
        <input type="text" name="searchFactura" placeholder="Buscar por Numero de factura" />
        <input type="submit" value="Buscar" />
    </form>
</div>
<p>
    <a asp-action="Create" class="btn btn-success">Crear Factura</a>

</p>
<p>
    <a asp-action="Reporte" class="btn btn-primary">Ver Reporte</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroFactura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                Cliente
            </th>
            <th>
                Producto
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroFactura)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClienteCedulaNavigation.Nombre) - @Html.DisplayFor(modelItem => item.ClienteCedulaNavigation.Cedula)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.ProductoCodigoNavigation.Nombre) - @Html.DisplayFor(modelItem => item.ProductoCodigoNavigation.Codigo)
            </td>
            <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.NumeroFactura">Edit</a> |
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.NumeroFactura">Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.NumeroFactura">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
