@model IEnumerable<Tiendav3.Models.Factura>

@{
    ViewData["Title"] = "Index";
}

<h1>Factura</h1>

<p>
    <a asp-action="Create">Crear Factura</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteCedulaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductoCodigoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
                @Html.DisplayFor(modelItem => item.ClienteCedulaNavigation.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductoCodigoNavigation.Codigo)
            </td>
            <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.NumeroFactura">Edit</a> |
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.NumeroFactura">Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.NumeroFactura">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
